<mat-card class="card-usuario">
  <mat-card-title>{{novo ? 'Novo ' : 'Editar '}} Usuário </mat-card-title>
  <mat-card-content [formGroup]="form">
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Nome Completo</mat-label>
        <input matInput placeholder="Ex: Ana Maria Silva" formControlName="nome" required>
        <mat-error *ngIf="this.form.controls.nome.invalid">O nome é obrigatório.</mat-error>
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Endereço de e-mail</mat-label>
        <input matInput placeholder="Ex: meuemail@example.com" formControlName="email" required>
        <mat-error *ngIf="this.form.invalid">{{mensagemErroEmail()}}</mat-error>
      </mat-form-field>
    </div>

  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button routerLink="/listagem-usuarios">Voltar</button>
    <button mat-button (click)="cadastrarNovoUsuario()">Cadastrar</button>
  </mat-card-actions>
</mat-card>
